@model Schedule.Models.RegisterModel
@{
    ViewBag.Title = "Register";
}

@*<hgroup class="title">*@
@*    <h1>@ViewBag.Title.</h1>*@
@*    <h2>Create a new account.</h2>*@
@*</hgroup>*@
@**@
@*@using (Html.BeginForm()) {*@
@*    @Html.AntiForgeryToken()*@
@*    @Html.ValidationSummary()*@
@**@
@*    <fieldset>*@
@*        <legend>Registration Form</legend>*@
@*        <ol>*@
@*            <li>*@
@*                @Html.LabelFor(m => m.UserName)*@
@*                @Html.TextBoxFor(m => m.UserName)*@
@*            </li>*@
@*            <li>*@
@*                @Html.LabelFor(m => m.Password)*@
@*                @Html.PasswordFor(m => m.Password)*@
@*            </li>*@
@*            <li>*@
@*                @Html.LabelFor(m => m.ConfirmPassword)*@
@*                @Html.PasswordFor(m => m.ConfirmPassword)*@
@*            </li>*@
@*        </ol>*@
@*        <input type="submit" value="Register" />*@
@*    </fieldset>*@
@*}*@


<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "" })
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
    </div>
    <div class="form-group" style="">
        <input type="submit" class="btn btn-default" value="Register" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
